.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .shape {
    height: 100px;
    width: 100px;
    border: 1px solid #ccc;
    transform: scale(2);  
   
  }
  
  .circle {
    border-radius: 50px;
    /** Implement **/
    transform: translate(-100%, 0%) skewx(-43deg);
  
  
   
  }
  
  .box {
    /** Implement **/
  }
  
  .c1 {
    /** Implement **/
    transform: translate(39%, -71%);
    background-color: black;
    border: 1px solid;
  }
  
  .c2 {
    /** Implement **/
    transform: scale(1.5);
    background-color: black;
    border: 1px solid;
  }
  
  .c3 {
    /** Implement **/
    transform: translate(-30%, -71%);
    background-color: black;
    border: 1px solid;
  }
  
  .s-image {
    transform: rotateY(180deg) rotateX(180deg) rotate(221deg);
      width: 300px;
  }
  
  .image-container {
    margin: 200px 0;
    
  }
  
  .image-container img,
  .shadow {
    height: 300px;
    background-color: #ccc;
  }
  .image-container img
    {

/************** a) Rotera bilden med hjälp av transform enligt följande bild: **************/
      /* transform: rotate(45deg); */
  /**********    b) Rotera bilden med hjälp av transform enligt följande bild:******************/
  /* transform: rotate(42deg) translateX(-8%) translateY(66%); */

  /********** c) Rotera bilden med hjälp av transform enligt följande bild: ******************/
  transform: rotate(27deg) translateX(9%) translateY(-42%);
 
  }

  
  .container.top {
    background-image: url(resources/forest.jpg);
    height: 500px;
  }
  
  .container.bottom {
    background: #ddd;
    height: 500px;
  }
  .images{
      transform: translateY(-436%);
      display: flex;
      justify-content: space-evenly;
  }
  .images img{
      border-radius: 150px;
      height: 132px;
  }
  .images img:nth-child(1){
      transform: rotateY(180deg);
  }
  .images img:nth-child(2){
      transform: rotateY(180deg);
  }
  .images img:nth-child(3){
      transform: rotateY(180deg);
  }